.container{
    height: 90vh;
    background-image: url("../assets/img/rivenVSyasuo.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerQuiz{
    width: 50%;
    height: 70%;
    border-radius: 30px;
    background-color: #191919;
    border: 1px solid rgb(196, 161, 47);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 4vh 0;
}
.respostasQuiz{
    width: 60%;
    height: 10%;
    background-color: grey;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10%;
    transition: 0.3s;
}
.respostasQuiz:hover{
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.titleQuiz{
    color: white;
    font-size: 2rem;
}
.titleQuizRiven{
    color: rgb(196, 161, 47);
}
.perguntaQuiz{
    font-size: 1.5rem;
    color: white;
}
.letra{
    font-weight: 900;
    margin-left: 5%;
}
.divVerde{
    box-shadow: 2px 2px 10px rgb(0, 255, 76);
    background-color: green;
}
.respostasRelatorio{
    color: white;
    font-size: 1.5rem;
}
.div_buttons{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.btn_relatorio{
    width: 30%;
    height: 30%;
    font-size: 1.2rem;
    background-color: rgb(196, 161, 47);
    border: none;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
}
.btn_relatorio:hover{
    box-shadow: 10px 10px 10px black;
    transition: 0.4s;
}