@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{  
    font-family: 'Roboto';
    scroll-behavior: smooth;
    background-color: black;
}
header{
    background-color: #191919;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(196, 161, 47);
}
a{
    text-decoration: none;
}
.container-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.imagemRiven{
    display: flex;
    height: 100%;
    padding: 10% 0;
    color: white;
    align-items: center;
}
.logoImg{
    width: 1vw;

}
.menu{
    display: flex;
    width: 25vw;
    align-items: center;
    gap: 1vw;
    justify-content: flex-end;
}
.menu a li{
    display: flex;
    list-style: none;
    color: white;
    font-weight: 600;
    font-weight: 500;
    align-items: center;
}
.iconPerfil{
    height: 2.45vh;
    margin-left: 1vh;
    fill: white;
    transition: 0.3s;
}
.footer{
    margin-top: 1vh;
    width: 100%;
    height: 20vh;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contatos{
    width: 80%;
    height: 40%;
    display: flex;
    padding: 1% 0;
    border-bottom: 1px solid white;
}
.contato{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    gap: 10%;
}
.redes{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 23%;
    gap: 5%;
}
.iconAncora{
    width: 5%;
}
.iconRede{
    width: 100%;
}
.footerFrase{
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}